@import '../../lib/theme/theme.scss';

.cataloguePage {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkBoxContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.innerBox {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.productsBox {
	width: 100%;
	padding: 30px 0;
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
	background-color: $colorSecondary;
	box-shadow: $boxShadow;
}

.heading {
	font-family: $fontFamilyRegular;
	color: $textColorMain;
	font-size: 50px;
	font-weight: 200;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #555555;
	margin: 10px 0;
}

.filter {
	&Background {
		display: flex;
		// gap: 5px;
		margin-top: 0 !important;
		margin-bottom: 50px !important;
		justify-content: center;
		background: white !important;
		box-shadow: none !important;
		border-bottom: 1px solid rgba(202, 202, 202, 0.577);
	}

	&Box {
		position: relative;
		z-index: 1;
		width: 100%;
		max-width: 350px;
		min-height: 500px;
		padding: 20px;
		display: flex;
		flex-direction: row;
		gap: 20px;

		justify-content: center;
	}

	&Box::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0px;
			bottom: 0;
			background: inherit;
			filter: brightness(.85);
			z-index: 1;
			// border: 1px solid black;
			// border-radius: 3px;
		}
	
	&Box>* {
		position: relative;
		z-index: 2;
	}

	&Heading {
		border-bottom: solid 1px #555555;
		padding-bottom: 10px;
		font-weight: 400;
	}

	&Text {
		padding: 30px;
		background: $colorMain;
		border: solid 1px #dedede;
		box-shadow: $boxShadow;
		width: 450px;
	}

	&Form {
		display: flex;
		flex-direction: column;
	}

	

	&ByManufacturer {
		.checkBoxContainer {
			.checkBox {
				font-size: 20px;
			}
		}	
	}	
		

	&ByManufacturer,
	&ByType,
	&ByCoin {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.Suitcase {
	align-self: center;
}

.Suitcase .checkBox{
	font-size: 24px;
}

.verticalDivider {
	width: 0.5px;
	height: 37px;
	background-color: $textColorSecondary;
}

.selectWrapper {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sortSelector {
	margin-bottom: 30px;
}

:global(.ant-select-selector) {
	border-radius: 0px !important;
	padding: 10px !important;
	font-weight: 400;
	border: none !important;
	background: $colorSecondary !important;
	color: #000 !important;
	box-shadow: $boxShadow !important;
}

:global(.ant-select-dropdown) {
	border-radius: 0 !important;
	background-color: $colorSecondary !important;
	color: #000 !important;
}

:global(.ant-select-item-option-content) {
	color: #000 !important;
}

:global(.ant-select-item-option-selected) {
	background-color: #dedede !important;
	border-radius: 0 !important;
}

:global(.ant-select-selection-search-input),
:global(.ant-select-selection-item),
:global(.ant-select-selection-placeholder) {
	font-family: $fontFamilyRegular !important;
	font-size: 18px !important;
	color: #000 !important;
}

:global(.ant-select-arrow) {
	display: none !important;
}

:global(.ant-select-single) {
	height: auto;
}


.checkBox {
	will-change: transform;

	border-radius: 3px;
	padding: 5px 10px;
	margin: 3px;
	border: none;
	border: solid 2px transparent;
	font-family: var(--font-family-regular);
	font-size: 16px;
	color: $textColorSecondary;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	flex-direction: row;
	gap: 15px;

	backdrop-filter: blur(2px);

	div {
		text-align: left;
	}

	// background-color: hsla(0, 0%, 100%) !important;
	background-color:rgba(255, 255, 255, 0.8);

	&:hover {
		// background-color: hsl(0deg 0% 79.9% / 31%);
		box-shadow: 
		2px 1px 1px 1px hsla(0, 0%, 60%, 0.05),
		4px 2px 2px 4px hsla(0, 0%, 50%, 0.05)
		;
		transform: scale(1.04);
	}

	&:active {
		// background-color: hsl(0deg 0% 55.71% / 31%);
	}

	&Chosen {
			background: $colorMain;
			background-color: hsla(0, 0%, 100%, 1) !important;
			border: solid 2px hsla(0, 0%, 40%, 1);
		// background-color: hsl(0deg 0% 79.9% / 31%) !important;
	}

}

.coinHeading {
	font-size: 35px;
}

.articleContainer {
	max-width: 1200px;
	width: 100%;
	padding: 30px 10px 0 10px;
}

@media (max-width: 1200px) {
	.selectWrapper {
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		align-items: center;
	}

	.coinHeading {
		text-align: center;
	}

	.filter {
		&Background {
			flex-direction: column;
			align-items: center;
		}

		&Box {
			max-width: 650px;
			height: 600px;
		}

		&ByManufacturer,
		&ByType,
		&ByCoin {
			align-items: center;
		}
	}

	.checkBoxContainer {
		justify-content: center;
	}
}

@media (max-width: 750px) {
	.filterForm {
		width: 100%;
		padding: 0 20px;
	}

	.filterBox {
		max-width: 400px;
	}

	.filterText {
		width: 100%;
		padding: 20px;
		margin: 0 20px;
	}
}

@media (max-width: 400px) {
	.checkBoxContainer {
		justify-content: flex-start;
	}

	.filterBox {
		max-width: 300px;
	}

	.heading {
		font-size: 40px;
	}
}
