@import '../../lib/theme/theme.scss';

.aboutPage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.innerBox {
	width: 100%;
	max-width: 1200px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.textBox {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px;
	background-color: $colorLightBlueBack;
	box-shadow: $boxShadow;
}

.logo {
	width: 20%;
	aspect-ratio: 1/1;
	background-image: url(../../assets/images/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;

	@media screen and (max-width: 1200px) {
		position: absolute;
		left: 0;
		right: 0;
		margin-inline: auto;
		opacity: 0.1;
		width: 40%;
	}

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.contentBox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.textContainer {
	width: 80%;
	gap: 10px;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 1200px) {
		width: 100%;
	}
}

.heading {
	font-family: $fontFamilyRegular;
	font-size: $fontSizeXL;
	font-weight: 200;
}

.subHeading {
	font-size: 25px;
	color: $textColorSecondary;
	font-family: $fontFamilyRegular;
	font-weight: bold;
}

.divider {
	width: 100px;
	height: 2px;
	background: #1f1f1f;
}

.background {
	position: absolute;
	width: 700px;
	right: -200px;
	top: 100px;
	opacity: 0.3;
	user-select: none;
	pointer-events: none;
}

.description {
	color: $textColorSecondary;
}

@media screen and (max-width: 1200px) {
	.aboutSection {
		width: 100%;
	}

	.image {
		display: none;
	}
}
