.newsPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.head {
	&Box {
		margin-top: 0 !important;
		margin-bottom: 50px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&Inner {
		position: relative;
		z-index: 1;
		max-width: 1000px;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 20px;
		background: rgba(28, 28, 28, 0.5);
		box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px 0px inset;
		align-items: center;
	}
}

.innerBox {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

@media screen and (max-width: 1200px) {
	.headInner {
		margin: 0 10px;
	}

	.innerBox {
		padding: 0 10px;
	}
}
