@import '../../lib/theme/theme.scss';

.reviewsPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.head {
	&Box {
		margin-top: 0 !important;
		margin-bottom: 50px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&Inner {
		position: relative;
		z-index: 1;
		max-width: 1000px;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 20px;
		background: $colorMain;
		border: solid 1px #dedede;
		box-shadow: $boxShadow;
		align-items: center;
	}
}

.innerBox {
	width: 100%;
	max-width: 1200px;
}

@media screen and (max-width: 1200px) {
	.headInner {
		margin: 0 10px;
	}

	.innerBox {
		padding: 0 10px;
	}
}
